# BEGIN WordPress
# As diretrizes (linhas) entre "BEGIN WordPress" e "END WordPress" são
# geradas dinamicamente e só devem ser modificadas através de filtros do WordPress.
# Quaisquer alterações nas diretivas entre esses marcadores serão sobrescritas.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
<IfModule mod_expires.c>
    ExpiresActive On
    
    # Imagens
    ExpiresByType image/jpeg "access plus 3 months"
    ExpiresByType image/gif "access plus 3 months"
    ExpiresByType image/png "access plus 3 months"

    # CSS
    ExpiresByType text/css "access plus 3 months"

    # JavaScript
    ExpiresByType application/javascript "access plus 3 months"
</IfModule>
