<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {
    "tagName":"main",
    "layout":{"type":"constrained"}
} -->
<main class="wp-block-group">

    <!-- wp:heading {"textAlign":"center","level":1} -->
    <h1 class="has-text-align-center">404</h1>
    <!-- /wp:heading -->

    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">
        Página não encontrada.
    </p>
    <!-- /wp:paragraph -->

    <!-- wp:search {"label":"Pesquisar"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer", "className":"site-footer"} /-->