:root {
  --primary-color: #450a20;
}
.lp-mothers-day-body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #fef1e3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.lp-mothers-day-body .wp-block-heading {
  font-family: "Quintessential", serif;
}
.lp-mothers-day-header {
  background-color: var(--primary-color);
  height: 90px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
.lp-mothers-day-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lp-mothers-day-header nav {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}
.lp-mothers-day-header nav div img {
  height: 60px;
}
.lp-mothers-day-header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.lp-mothers-day-header nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.lp-mothers-day-header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Quintessential", serif;
  font-size: 1.2em;
}

.lp-mothers-day-main {
  max-width: 1280px;
  margin: 0 auto;
}
.lp-mothers-day-body .paginate {
  height: 100%;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.lp-mothers-day-body .paginate .page-numbers {
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--primary-color);
  font-weight: 600;
}
.lp-mothers-day-body .paginate .page-numbers.current {
  background-color: var(--primary-color);
  color: #fff;
}
.lp-mothers-day-main .has-text-align-center.has-large-font-size {
  font-family: "Quintessential", serif;
}
.btnOpenDrawer {
  display: none;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  background-color: transparent;
  border-color: #fff;
  border-radius: 4px;
  border-width: 1px;
  cursor: pointer;
}
.btnOpenDrawer div {
  width: 25px;
  height: 1px;
  background-color: #fff;
  display: block;
}
.drawerBackground {
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.79);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  display: none;
}
.drawerContent {
  position: fixed;
  max-width: 380px;
  background-color: #fff;
  height: 100dvh;
  z-index: 99;
  left: 0;
  top: 0;
  padding: 12px;
  transition: width 2s;
  display: none;
  animation-name: myAnimation;
  animation-duration: 2s;
}
.drawerContent nav,
.drawerContent nav ul li,
.drawerContent nav ul {
  all: unset;
  text-align: left;
}
.drawerContent nav ul {
  display: flex;
  flex-direction: column;
}
.drawerContent nav ul li a{
 color: #333;
}
.drawerHeader {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
@keyframes myAnimation {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
#drawerClose {
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
#drawerClose div {
  width: 15px;
  height: 2px;
  background-color: #0f0202;
  display: flex;
  align-items: center;
  justify-content: center;
}

#drawerClose .left {
  transform: rotate(44deg);
}
#drawerClose .right {
  transform: rotate(135deg);
  margin-top: -1.2px;
}
@media (max-width:768px) {
  .btnOpenDrawer{
    display: flex;
  }
  .lp-mothers-day-header nav{
    padding: 0 20px;
  }
  .lp-mothers-day-header .nav-links {
    display: none;
  }
}